<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		">


	<!-- 配置基础连接池 -->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/y2_test?useUnicode=true&amp;characterEncoding=UTF-8&amp;allowMultiQueries=true" />
		<property name="username" value="root" />
		<property name="password" value="yesheng" />
		<property name="defaultAutoCommit" value="false" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="60" />
		<property name="minIdle" value="1" />
		<property name="maxIdle" value="60" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="120" />
		<property name="logAbandoned" value="true" />
		<property name="maxWait" value="2000" />
		<property name="validationQuery" value="select 1" />
	</bean>

	<!-- 配置ssf -->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="configLocation"
			value="classpath:/mybatis-ctx.xml" />
		<!-- 扫描指定路径下所有xml -->
		<property name="mapperLocations"
			value="classpath:/mapper/*.xml" />
			
			
			<property name="mapperLocations">
				<list>
					<value>classpath:/mapper/lxq/*.xml</value>
					<value>classpath:/mapper/lzx/*.xml</value>
				</list>
			</property>
	</bean>

	<mybatis-spring:scan base-package="com.accp.dao"
		factory-ref="ssf" />

	<!-- 配置事务管理器 -->
	<bean id="transManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds" />
	</bean>

	<!-- 配置事务增强器 -->
	<tx:advice id="transAdvice"
		transaction-manager="transManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED"
				isolation="READ_COMMITTED" />
			<tx:method name="remove*" propagation="REQUIRED"
				isolation="READ_COMMITTED" />
			<tx:method name="modify*" propagation="REQUIRED"
				isolation="READ_COMMITTED" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true"
				isolation="READ_COMMITTED" />
		</tx:attributes>
	</tx:advice>
	<!-- AOP注入 -->
	<aop:config>
		<aop:advisor advice-ref="transAdvice"
			pointcut="within(com.accp.biz..*)" />
	</aop:config>


	<context:component-scan
		base-package="com.accp.biz" />

</beans>
